<%- include("partials/header") -%>

<div class="box">
    <div class="box" id="heading">
        <h1><%= postTitle %></h1>
        <div class="box">
                <p><%= postBody %></p>
        </div>
        <form action="/delete" method="post">
            <div class="box">
              <input type="checkbox" name="checkbox" value="<%= postId %>" onchange="this.form.submit()">
              <p>Delete Post</p>
            </div>
        </form>
        <a href="/update/<%= postTitle %>">Update Post</a>
    </div>
</div>

<%- include("partials/footer") -%>